################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Desktop/VirtualSurfaces/VirtualSurfaces/x64/Debug
/Desktop/VirtualSurfaces/.vs/VirtualSurfaces/v15
/Desktop/VirtualSurfaces/x64/Debug
/.vs
/Desktop/VirtualSurfaces/Debug
/Desktop/VirtualSurfaces/VirtualSurfaces/Debug
/Desktop/HelloWorld-WinComp/.vs/HelloWorld-WinComp/v15
/Desktop/HelloWorld-WinComp/Debug
/Desktop/HelloWorld-WinComp/HelloWorld-WinComp/Debug
/Desktop/HelloWorld-WinComp/HelloWorld-WinComp/x64/Debug
/Desktop/HelloWorld-WinComp/x64/Debug
/Desktop/VirtualSurfaces/.vs/VirtualSurfaces/v16/Preview
/Desktop/VirtualSurfaces/.vs/VirtualSurfaces/v16
/UWP/Direct2DInterop/.vs/Direct2DInterop/v15
/UWP/Direct2DInterop/Direct2DInterop/Debug
/UWP/Direct2DInterop/Direct2DInterop/x64/Debug
/UWP/Direct2DInterop/x64/Debug/Direct2DInterop
/UWP/Direct2DInterop/enc_temp_folder/b3cbccbddc16d171dc68df3b6c224d7
/Desktop/Reg-free_WinRT_Sample/.vs/RegFree WinRT Sample/v15/Preview
/Desktop/Reg-free_WinRT_Sample/.vs/RegFree WinRT Sample/v15/Server/sqlite3
/Desktop/Reg-free_WinRT_Sample/.vs/RegFree WinRT Sample/v15
/Desktop/Reg-free_WinRT_Sample/Debug/WinRTComponent
/Desktop/Reg-free_WinRT_Sample/Desktop App/bin/Debug
/Desktop/Reg-free_WinRT_Sample/Desktop App/obj/Debug
/Desktop/Reg-free_WinRT_Sample/Release
/Desktop/Reg-free_WinRT_Sample/WinRTComponent/Debug
/Desktop/Reg-free_WinRT_Sample/WinRTComponent/Generated Files
/Desktop/Reg-free_WinRT_Sample/WinRTComponent/x64/Release
/Desktop/Reg-free_WinRT_Sample/WinRTComponent/Release
/Desktop/Reg-free_WinRT_Sample/x64/Release/WinRTComponent
/Desktop/Reg-free_WinRT_Sample/WindowsFormsApp/bin
/Desktop/Reg-free_WinRT_Sample/WindowsFormsApp/obj
/UWP/Direct2DInterop/.vs/Direct2DInterop/v16
/Desktop/Reg-free_WinRT_Sample/vcruntime140_app/msvcp140_app/x64/Debug/msvcp.tlog
/Desktop/Reg-free_WinRT_Sample/vcruntime140_app/msvcp140_app/x64/Debug/vcruntime140_app.tlog
/Desktop/Reg-free_WinRT_Sample/vcruntime140_app/msvcp140_app/Release/vcruntime140_app.tlog
/Desktop/Reg-free_WinRT_Sample/vcruntime140_app/msvcp140_app/Debug/vcruntime140_app.tlog
/Desktop/Reg-free_WinRT_Sample/vcruntime140_app/msvcp140_app/x64/Release/vcruntime140_app.tlog
/Desktop/Reg-free_WinRT_Sample/vcruntime140_app/vcruntime140_app/Debug/vcruntime140_app.tlog
/Desktop/Reg-free_WinRT_Sample/vcruntime140_app/vcruntime140_app/Release/vcruntime140_app.tlog
/Desktop/Reg-free_WinRT_Sample/vcruntime140_app/vcruntime140_app/x64/Release/vcruntime140_app.tlog
/Desktop/Reg-free_WinRT_Sample/vcruntime140_app/.vs/vcruntime140_app/v15
/Desktop/Reg-free_WinRT_Sample/vcruntime140_app/vcruntime140_app/x64/Debug
