################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Desktop/VirtualSurfaces/VirtualSurfaces/x64/Debug
/Desktop/VirtualSurfaces/.vs/VirtualSurfaces/v15
/Desktop/VirtualSurfaces/x64/Debug
/.vs
/Desktop/VirtualSurfaces/Debug
/Desktop/VirtualSurfaces/VirtualSurfaces/Debug
/Desktop/HelloWorld-WinComp/.vs/HelloWorld-WinComp/v15
/Desktop/HelloWorld-WinComp/Debug
/Desktop/HelloWorld-WinComp/HelloWorld-WinComp/Debug
/Desktop/HelloWorld-WinComp/HelloWorld-WinComp/x64/Debug
/Desktop/HelloWorld-WinComp/x64/Debug
/Desktop/VirtualSurfaces/.vs/VirtualSurfaces/v16/Preview
/Desktop/VirtualSurfaces/.vs/VirtualSurfaces/v16
/UWP/Direct2DInterop/.vs/Direct2DInterop/v15
/UWP/Direct2DInterop/Direct2DInterop/Debug
